.sandiv {
    width: 980px;
    height: 570px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    -webkit-box-shadow: 0 1px 2px #666;
    box-shadow: 0 1px 2px #666;
}

#image {
    width: 348px;
    height: 375px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

#thumb {
    width: 400px;
    margin: 0 auto;
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img {
    border: black 1px;
    width: auto;
    height: 50px;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}


.sanl {
    margin-top: 50px;
    float: left;
    width: 210px;
    margin-left: 30px;
    margin-right: 30px;

}

.sanr {
    margin-top: 50px;
    float: left;
    width: 210px;
    margin-left: 60px;
    margin-right: 30px;


}

.man {
    float: left;
    width: 350px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;

}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons{
	top: 36px;
    position: relative;
}


.rating-submit{
	border-radius: 15px;
	color: #fff;
	    height: 49px;
}


.rating-submit:hover{

	color: #fff;
}