{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome <span class="text-capitalize">{{ request.user }}</span></h3>

            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'address' %}" class="disabled btn btn-secondary">Your Address</a></li>
                    <li class="d-grid"><a href="{% url 'orders' %}" style="margin-top: 0.5rem" class="btn btn-success">Orders</a></li>
                    <li class="d-grid"><a href="{% url 'passwordchange' %}" style="margin-top: 0.5rem" class="btn btn-primary">Change Password</a></li>
                    <li style="right: 6.5%; top: 17%; position: absolute; width: 10%" class="d-grid"><a
                            href="{% url 'profile' %}" class="btn btn-primary">Add Address</a></li>

                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <div class="row">
                    {% for ad in add %}
                        <div class="co-sm-3">
                            <div class="card m-2">
                                <div class="card-body">
                                    <h3>Address {{ forloop.counter }}</h3>
                                    <h1 class="d-none">{{ ad.id }}</h1>
                                    <p>Name: {{ ad.name }}</p>
                                    <p>Locality: {{ ad.locality }}</p>
                                    <p>Mobile: {{ ad.mobile }}</p>
                                    <p>City: {{ ad.city }}</p>
                                    <p>Area: {{ ad.area }}</p>
                                    <p>Pincode: {{ ad.zipcode }}</p>
                                    <div style="display: flex;justify-content: center">
                                        <p style="margin-right: 10px" class="text-center"><a
                                                href="{% url 'UpdateAddress' pk=ad.id %}"
                                                type="button" class="btn btn-success">Update</a></p>
                                        <p class="text-center"><a href="{% url 'RemoveAddress' pk=ad.id %}"
                                                                  type="button" class=" btn btn-danger">Remove</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}