<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/slider.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/ratting.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'app/css/cart-package.css' %}"/>#}
{#    <link rel="stylesheet" href="{% static 'app/css/grid.css' %}"/>#}
    <!--    <link rel="stylesheet" href="checkout.css" />-->
    <title>Daily Product | {% block title %} {% endblock title %}</title>
</head>
<body style="height: 100%; border-radius:0.3px">
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/63f875374247f20fefe25ec0/1gq18joop';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static "app/images/Neel.png" %}" width="100" height="50"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
            <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
                <ul class="navbar-nav  me-5 mx-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowns" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'category' 'ML' %}">Milk</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'CR' %}">Curd</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'MS' %}">Milk Shake</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'LS' %}">Lassi</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'GH' %}">Ghee</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'PN' %}">Paneer</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'CZ' %}">Cheese</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'IC' %}">Ice-creams</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'about' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <form action="/search" role="search" class="d-flex w-50">
                    <input name="search" type="search" placeholder="search" aria-label="Search"
                           class="form-control me-2">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
            <ul class="navbar-nav me-auto mb-2  mb-lg-10">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username|capfirst }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="{% url 'address' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url 'showcart' %}" class="nav-link text-white"><span
                            class="badge bg-danger">{% if totalitem > 0 %} {{ totalitem }} {% endif %}</span>Your Cart</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url 'showwishlist' %}" class="nav-link text-white"><span
                            class="badge bg-danger">{% if wishitem > 0 %} {{ wishitem }} {% endif %}</span> Wishlist
                    </a>
                </li>
            </ul>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContentnotAuth">
                <ul class="navbar-nav me-5 mx-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowns" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'category' 'ML' %}">Milk</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'CR' %}">Curd</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'MS' %}">Milk Shake</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'LS' %}">Lassi</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'GH' %}">Ghee</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'PN' %}">Paneer</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'CZ' %}">Cheese</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'IC' %}">Ice-creams</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'about' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <form action="/search" role="search" class="d-flex w-50">
                    <input name="search" type="search" placeholder="search" aria-label="Search"
                           class="form-control me-2">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="{% url 'customerregistration' %}" class="nav-link text-white">Registration</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
{% block banner-slider %}{% endblock banner-slider %}
{% block information %}{% endblock information %}
{% block main-content %}{% endblock main-content %}
{% block payment-gateway %} {% endblock payment-gateway %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'app/js/slider.js' %}"></script>
<script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'app/js/all.min.js' %}"></script>
<script src="{% static 'app/js/myscript.js' %}"></script>



