{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="sidebar">
                    {% for val in title %}
                        <a href="{% url 'category-title' val.title %}" class="list-group-item list-group-item-action"
                           aria-current="true">
                            {{ val.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    {% for prod in product %}
                        <div class="col test-center mb-4">
                            {% if user.is_authenticated %}
                                <a href="{% url 'product-detail' prod.id %}" class="btn">
                                    <div>
                                        <img src="{{ prod.product_image.url }}" width="300px" height="200px" alt="">
                                        <div class="fw-bold">{{ prod.title }}</div>
                                        <div class="fw-bold text-danger">
                                            {% if prod.discounted_price == 0 %}
                                                <small class="fw-ligt">{{ prod.selling_price }}$</small>
                                            {% else %}
                                                Discounted {{ prod.discounted_price }}$/-
                                                <small class="fw-ligt text-decoration-line-through">{{ prod.selling_price }}$</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn">
                                    <div>
                                        <img src="{{ prod.product_image.url }}" width="300px" height="200px" alt="">
                                        <div class="fw-bold">{{ prod.title }}</div>
                                        <div class="fw-bold text-danger">
                                            Discounted {{ prod.discounted_price }}$/-
                                            <small class="fw-ligt text-decoration-line-through">{{ prod.selling_price }}$</small>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}