{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
    <section>
        <div class="container checkout">
            <div class="container-address address" id="open-modal">
                <div class="address-details">
                    <i class="fa-solid fa-map-location-dot fa-2x "></i>
                    <div>
                        <p id="FullName">Tên : {{ add.name|title }}</p>
                        <p id="Address">Địa chỉ: {{ add.locality }} {{ add.city }} {{ add.area }}
                            - {{ add.zipcode }}</p>
                        <p id="Phone">SDT: {{ add.mobile }}</p>

                    </div>
                </div>
                <button class="change-icons"><i class="fas fa-2x fa-angle-right"></i></button>
            </div>
            <form method="post" id="myform">
                <h2 class="title">Thông tin đơn hàng</h2>
                {% csrf_token %}
                <div class="checkout-section">
                    <h2>Thông tin sản phẩm</h2>
                    <div class="product-item">
                        <div class="checkout-details">
                            <table>
                                <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Tên</th>
                                    <th>Giá Tiền($)</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                                </thead>
                                {% for item in cart_items %}
                                    <tbody>
                                    <tr class="cart-product">
                                        <td class="checkout-img">
                                            <img src="{{ item.product.product_image.url }}" alt="Product Image">
                                        </td>
                                        <td>{{ item.product.title|title }}</td>
                                        {% if item.product.discounted_price == 0 %}

                                            <td>{{ item.product.selling_price|floatformat:"-0"}}$</td>
                                        {% else %}
                                            <td>{{ item.product.discounted_price|floatformat:"-0"}}$</td>
                                        {% endif %}
                                        <td>{{ item.quantity }}</td>
                                        <th>{{ totalamount|floatformat:"-0"}}$</th>
                                            <td><div class="price">{{ item.product.selling_price|floatformat:"-0" }}</div>
                                                </td>
                                        {% else %}
                                            <td>
                                                <div class="price">{{ item.product.discounted_price|floatformat:"-0" }}</div>
                                                </td>
                                        {% endif %}
                                        <td class="quantity">{{ item.quantity }}</td>
                                        <th class="total"></th>

                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="checkout-section payment">
                    <div>
                        <div class="payment-options">
                            <button type="button" class="btn-buy-now active-checkout" id="payment"><input value="Wallet"
                                                                                                          name="Payment"
                                                                                                          hidden="hidden">Thanh
                                toán trực tiếp
                            </button>
                            <button type="button" class="btn-card-payment " id="payment">Thanh toán bằng thẻ ngân hàng
                            </button>
                            <button type="button" class="btn-momo-payment " id="payment">Thanh toán bằng Momo</button>
                        </div>

                        <div class="payment-details">
                            <div class="buy-now-details">
                            </div>
                            <div class="card-payment-details">
                                <p>Chọn thẻ thanh toán</p>

                                <ul class="payment-card">
                                    <li class="card">
                                        <label>Thẻ Visa
                                            <input type="radio" value="Visa" name="Payment">
                                        </label>
                                        <img src="{% static 'app/images/Screenshot_20230227-171054_MoMo.jpg' %}"/>
                                    </li>
                                    <li class="card">
                                        <label>Thẻ Mastercard
                                            <input type="radio" value="Mastercard" name="Payment">
                                        </label>
                                        <img src="{% static 'app/images/Screenshot_20230227-171054_MoMo.jpg' %}"/>

                                    </li>
                                    <li class="card">
                                        <label>Thẻ ATM nội địa
                                            <input type="radio" value="ATM" name="Payment">
                                        </label>
                                        <img src="{% static 'app/images/Screenshot_20230227-171054_MoMo.jpg' %}"/>

                                    </li>
                                </ul>
                            </div>
                            <div class="momo-payment-details">
                                <p>Chọn ví thanh toán</p>
                                <ul>
                                    <ul class="payment-card">
                                        <li class="card">
                                            <label>Ví Momo
                                                <input type="radio" value="Momo" name="Payment">
                                            </label>
                                            <img src="{% static 'app/images/Screenshot_20230227-171054_MoMo.jpg' %}"/>
                                        </li>
                                        <li class="card">
                                            <label>Ví Zalopay
                                                <input type="radio" value="ZaloPay" name="Payment">
                                            </label>
                                            <img src="{% static 'app/images/Screenshot_20230227-171054_MoMo.jpg' %}"/>
                                        </li>
                                        <li class="card">
                                            <label>Thẻ ATM nội địa
                                                <input type="radio" value="ATM" name="Payment">
                                            </label>
                                            <img src="{% static 'app/images/Screenshot_20230227-171054_MoMo.jpg' %}"/>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="shipping">
                        <div class="shipping-details">
                            <p>Phí vận chuyển:</p>
                            <h3>40$</h3>
                        </div>
                        <div class="shipping-details">
                            <p>Giá tiền:</p>
                            <h3>{{ famount|floatformat:"-0" }}$</h3>
                        </div>
                        <div class="shipping-details">
                            <p>Tổng tiền:</p>
                            <h3>{{ totalamount|floatformat:"-0" }}$</h3>
                        </div>
                    </div>
                </div>
                <button type="submit" class="checkout-button" id="str-button1">Thanh toán</button>
            </form>
        </div>
    </section>
    <section>
        {% for ad in add %}
            <div id="my-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>
                    <button class="change-value">
                        <div class="address">
                            <div class="address-details">
                                <i class="fa-solid fa-map-location-dot fa-2x "></i>
                                <div class="address-change">
                                    <p class="Name">Tên : {{ ad.name|title }}</p>
                                    <p class="Address">Địa chỉ: {{ ad.locality }} {{ ad.city }} {{ ad.area }}
                                        - {{ ad.zipcode }}</p>
                                    <p class="Phone">SDT: {{ ad.mobile }}</p>
                                </div>
                            </div>
                            <i class="fas fa-2x fa-angle-right icon"></i>
                        </div>
                    </button>
                {% endfor %}
                <hr>
            </div>
        </div>

    </section>
    <section>
        <div id="payment-modal" class="modal">
            <div class=" payment-content">
                <iframe src="http://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0"
                        class="giphy-embed" allowFullScreen></iframe>
                <p> Thanh toán thành công</p>
                <button class="close-payment">close</button>
            </div>
        </div>
    </section>
    <script>
        function updatePaymentButton() {
            var paymentButton = document.getElementById("str-button1");
            var addressRadios = document.getElementsByName("address");
            var addressChecked = false;
            // Check if any address radio button is checked
            for (var i = 0; i < addressRadios.length; i++) {
                if (addressRadios[i].checked) {
                    addressChecked = true;
                    break;
                }
            }
            // Enable/disable "Payment" button
            paymentButton.disabled = !addressChecked;
        }
    </script>
{% endblock main-content %}