{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
    <div class="container details">
        <div class="carousel-details all-images">
            <div class="main-image">
                <img id="main-image" src="{{ image_first.image.url }}" alt="Main Image">
            </div>
            <div class="thumbnail-images">
                <button class="prev-btn"><i class="fas fa-angle-left"></i></button>
                {% for image in images %}
                    <li class="thumbnail" data-src="{{ image.image.url }}"><img src="{{ image.image.url }}"
                                                                                width="100" alt=""></li>
                {% endfor %}
                <button class="next-btn"><i class="fas fa-angle-right"></i></button>
            </div>
        </div>
        <div class="item">
            <p class="product-name">{{ product.title }}</p>
            {% if average_rating != 0 %}
                <div class="ratting">
                    {% if average_rating != 0 %}
                        <div class="d-flex" style="align-items: center"><h4>{{ average_rating|floatformat }}/5</h4>
                            {% if average_rating == 1 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                            {% elif average_rating >= 1.1 and average_rating <= 1.9 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star-half star"></i>
                                </div>
                            {% elif average_rating == 2 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                            {% elif average_rating >= 2.1 and average_rating <= 2.9 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star-half star"></i>
                                </div>
                            {% elif average_rating == 3 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                            {% elif average_rating >= 3.1 and average_rating <= 3.9 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star-half star"></i>
                                </div>
                            {% elif average_rating == 4 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                            {% elif average_rating >= 4.1 and average_rating <= 4.9 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star-half star"></i>
                                </div>
                            {% elif average_rating == 5 %}
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                                <div>
                                    <i class="fas fa fa-star star"></i>
                                </div>
                            {% endif %}
                        </div>

                    {% endif %}
                </div>
            {% endif %}
            <div class="price">
                {% if product.discounted_price == 0 %}
                    <p>
                        <del>Giá:{{ product.selling_price|floatformat }}$</del>
                    </p>
                {% else %}
                    <p> Khuyến mãi: {{ product.discounted_price|floatformat }}$ /
                        <del>Giá gốc:{{ product.selling_price|floatformat }}$</del>
                    </p>
                    </div>
                {% endif %}
            <div class="product-features">
                <h3>Tổng quan sản phẩm</h3>
                <p>{{ product.description }}</p>
            </div>
            <div class="d-flex">
                <form action="/add-to-cart">
                    <input type="hidden" name="prod_id" value="{{ product.id }}">
                    <button type="submit" class="m1 btn btn-primary shadow">Thêm vào giỏ hàng</button>
                </form>
                <form action="/buynow">
                    <input type="hidden" name="prod_id" value="{{ product.id }}">
                    <button type="submit" class="m1 btn btn-warning shadow">Mua ngay</button>
                </form>
                {% if wishlist %}
                    <a class=" minus-wishlist button-wishlist remove" pid={{ product.id }}><i
                            class="fas fa-lg fa-heart"></i></a>
                {% else %}
                    <a class="plus-wishlist button-wishlist add" pid={{ product.id }}><i
                            class="fas fa-lg fa-heart"></i></a>
                {% endif %}
            </div>
            <div class="comment">
                {% if user.is_authenticated %}
                    <h4>Hãy nêu cảm nghĩ của bạn</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="rating">
                            <input type="radio" name="rating" value="5" id="5" onclick="updateCommentButton()">
                            <label class="rating-label" for="5">☆</label>

                            <input type="radio" name="rating" value="4" id="4" onclick="updateCommentButton()">
                            <label class="rating-label" for="4">☆</label>

                            <input type="radio" name="rating" value="3" id="3" onclick="updateCommentButton()">
                            <label class="rating-label" for="3">☆</label>

                            <input type="radio" name="rating" value="2" id="2" onclick="updateCommentButton()">
                            <label class="rating-label" for="2">☆</label>

                            <input type="radio" name="rating" value="1" id="1" onclick="updateCommentButton()">
                            <label class="rating-label" for="1">☆</label>
                        </div>
                        {{ form1.as_p }}
                        <label disabled></label>
                        <button type="submit" class="btn btn-primary" id="comment-button" disabled>Comment</button>
                    </form>
                {% else %}
                    <h2 class="text-center text-danger">Please Login to comment on this post <a
                            href="{% url 'login' %}">Login</a></h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="comment-render">
        <h3>Comments ({{ all_comments.count }})</h3>
        {% for comment in all_comments %}
            <div class="comment-details">
                <div class="comment-user">
                    <img src="{% static "app/images/Neel.png" %}"/>
                    <div>
                        <h4>{{ comment.author }}</h4>
                        <p class="text-black-50 ml-5 float-end">{{ comment.comment_date| timesince }} ago</p>
                        <p>{{ comment.description }}</p>
                        {% for rating in comment.rates.all %}
                            <div class="ratting">
                                <p> Ratting {{ rating.value }}/5</p>
                                {% for i in ""|center:rating.value %}
                                    <div>
                                        <i class="fas fa fa-star star"></i>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="group-btn">
                    {% if comment.author == user %}
                        <a type="button" href="{% url 'delete-comment' pk=comment.id %}" class="btn btn-warning">Xóa</a>
                    {% endif %}
                    <a type="button" data-bs-toggle="collapse" data-bs-target="#reply{{ comment.id }}"
                       aria-expanded="false" aria-controls=""
                       class="reply-btn btn btn-primary float-end">Trả lời</a>
                </div>
            </div>
            {% for reply in comment.replies.all %}
                <div class="form form-reply" id="form">
                    <label>
                        <textarea placeholder="Hãy bình luận ở đây"></textarea>
                    </label>
                    <button>Gửi bình luận</button>
                </div>
                <div class="reply-comment comment-details">
                    <div class="comment-user">
                        <img src="{% static "app/images/Neel.png" %}"/>
                        <div>
                            <h4>{{ reply.author }}</h4>
                            <p>{{ reply.description }}</p>
                        </div>
                    </div>
                    <div class="group-btn">
                        {% if comment.author == user %}
                            <a type="button" href="{% url 'delete-reply' pk=reply.id %}"
                               class="btn btn-warning">Xóa</a>
                        {% endif %}
                    </div>
                </div>
                </div>
            {% endfor %}
            <div class="collapse reply-form mx-5" id="reply{{ comment.id }}">
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <form method="post">
                    <input type="hidden" name="parent_id" id="parent_id" value="{{ comment.id }}">
                    {% csrf_token %}
                    {{ form2.as_p }}
                    <button type="submit" class="btn btn-primary mx-3 mx-2">Trả lời</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <script>
        function updateCommentButton() {
            var commentButton = document.getElementById("comment-button");
            var ratingRadios = document.getElementsByName("rating");
            var ratingChecked = false;

            // Check if any rating radio button is checked
            for (var i = 0; i < ratingRadios.length; i++) {
                if (ratingRadios[i].checked) {
                    ratingChecked = true;
                    break;
                }
            }

            // Enable/disable "Comment" button
            commentButton.disabled = !ratingChecked;
        }
    </script>
{% endblock main-content %}
