{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}
{% block main-content %}
    <div style="display: flex;" class="container">
        <div class="row flex flex-row-reverse justify-content-between">
            <div>
                <div class="man">
                    <div id="image">
                        <img src="{{ image_first.image.url }}" width="300" height="300"></div>
                </div>
            </div>
            <div id="thumbs">
                <div class="sanl">
                    <ul class="d-flex">
                        {% for image in images %}
                            <li class="img" dir="{{ image.image.url }}"><img src="{{ image.image.url }}" width="100"
                                                                             alt="">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="productdetail col-lg-5">
            <h1 style="font-family: Georgia,serif; font-size: 50px;">{{ product.title }}</h1>
            {% if product.discounted_price == 0 %}
                <small class="text-muted fs-5">
                    Price {{ product.selling_price }}$
                </small>
            {% else %}
                <small class=" text-muted fs-5"> Discount {{ product.discounted_price }}$ /-</small>
                <small class="text-decoration-line-through text-muted fs-5">
                    <del>Price {{ product.selling_price }}$</del>
                </small>
            {% endif %}
            <br><br><h4>Product Features</h4>
            <ul class="fs-5" style="font-family: sans-serif ">
                <h5>{{ product.description }}</h5>
            </ul>
            <form action="/add-to-cart" class="d-inline">
                <input type="hidden" name="prod_id" value="{{ product.id }}">
                <button type="submit" class=" btn-primary shadow px-5 py-2">Add to Cart</button>
            </form>
            <form action="/buynow" class="d-inline">
                <input type="hidden" name="prod_id" value="{{ product.id }}">
                <button type="submit" class=" btn-warning shadow px-5 py-2 ">Buy Now</button>
            </form>
            {% if wishlist %}
                <a pid={{ product.id }} class="minus-wishlist btn-danger shadow px-5 py-2 ms-4"><i
                    class="fas fa-lg fa-heart"></i></a>
            {% else %}
                <a pid={{ product.id }} class="plus-wishlist btn-success shadow px-5 py-2 ms-4"><i
                    class="fas fa-lg fa-heart"></i></a>
            {% endif %}
            {% if query %}
                <h2>Results for "{{ query }}"</h2>
                <ul>
                    {% for product in results %}
                        <li>{{ product.title }} by {{ product.id }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="col">
                {% if user.is_authenticated %}
                    <h3 style="margin-top:1rem">Write your comment...</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form1.as_p }}
                        <button type="submit" class="btn btn-primary">Comment</button>
                    </form>
                {% else %}
                    <h2 class="text-center text-danger">Please Login to comment on this post <a
                            href="{% url 'login' %}">Login</a></h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col">
        <h3>Comments ({{ all_comments.count }})</h3>
        {% for comment in all_comments %}
            <div style="margin-bottom: 10px" class="d-flex mx-5 justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="border-5">
                        <img src="{% static "app/images/Neel.png" %}" width="50" height="50"/>
                    </div>
                    <div class="mx-4">
                        <h5>
                            {{ comment.author }}
                        </h5>
                        <p class="mx-2">{{ comment.description }}</p>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <p class="text-black-50 ml-5 float-end">{{ comment.comment_date| timesince }} ago</p>
                    <div>
                        {% if comment.author == user %}
                            <a type="button" href="{% url 'delete-comment' pk=comment.id %}"
                               class="btn btn-danger mx-2">Remove</a>
                        {% endif %}

                        <a type="button" data-bs-toggle="collapse" data-bs-target="#reply{{ comment.id }}"
                           aria-expanded="false" aria-controls=""
                           class="reply-btn btn btn-primary float-end">Reply</a>
                    </div>
                </div>
            </div>
            {% for reply in comment.replies.all %}
                <div style="margin-left: 10%" class="flex-column d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="border-5">
                            <img src="{% static "app/images/Neel.png" %}" width="50" height="50"/>
                        </div>
                        <div class="mx-4">
                            <h5>
                                {{ reply.author }}
                            </h5>
                            <p class="mx-2">{{ reply.description }}</p>
                        </div>
                        <div style="position: absolute; right: 7.65%">
                            {% if comment.author == user %}
                                <a type="button" href="{% url 'delete-reply' pk=reply.id %}"
                                   class="btn btn-danger mx-2">Remove</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="collapse reply-form mx-5" id="reply{{ comment.id }}">
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <form method="post">
                    <input type="hidden" name="parent_id" id="parent_id" value="{{ comment.id }}">
                    {% csrf_token %}
                    {{ form2.as_p }}
                    <button type="submit" class="btn btn-primary mx-3 mx-2">Reply</button>
                </form>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock main-content %}